@media (min-width: 1024px) {
    .wrapper {
        width: 1070px;
    }

    .wrapper-fluid {
        min-width: 1070px;
    }

    header, footer {
        height: 115px;
        padding-top: 60px;
    }

    nav > ul {
        margin-right: 36px;
        word-spacing: 15px;
    }

    header > nav {
        float: right;
        height: 55px;
        line-height: 55px;
    }

    .more-block {
        height: 429px;
        padding-top: 145px;
    }

    .more-block .description {
        width: 650px;
        float: left;
    }

    .more-block .description > ul > li {
        font-size: 22px;
        padding-bottom: 6px;
        padding-left: 23px;
        line-height: 36px;
    }

    .more-block .video {
        float: right;
    }

    .features-block {
        height: 200px;
        line-height: 200px;
    }

    .wrapper.company-description {
        height: 420px;
    }

    .wrapper.company-description > .border > p {
        width: 660px;
        display: inline-block;
    }

    .wrapper.company-description > .border > .video {
        float: right;
    }

    .wrapper.facts > ul {
        word-spacing: 20px;
    }

    .wrapper.facts > ul > li {
        width: 298px;
        height: 293px;
        padding: 20px;
        margin-top: 20px;
    }

    .wrapper-fluid.introduction {
        height: 324px;
        margin-top: 43px;
        margin-bottom: 100px;
    }

    .wrapper.enroll.enroll0 {
        padding-bottom: 115px;
    }

    .wrapper-fluid.introduction > .wrapper {
        padding: 103px 0 100px 0;
        height: 207px;
        position: relative;
        top: -43px;
        background-size: auto 100%;
        background-position-x: center;
    }

    .wrapper-fluid.introduction > .wrapper > .text {
        display: inline-block;
    }

    .wrapper-fluid.introduction > .wrapper > .video {
        float: right;
    }

    .wrapper.parameters {
        margin-bottom: 120px;
    }

    .wrapper.parameters > ul > li {
        width: 478px;
        height: 70px;
        padding: 20px;
        text-align: left;
    }

    .wrapper.parameters > ul > li > .text {
        width: 382px;
        margin-left: 20px;
    }

    .wrapper-fluid.samples .wrapper > ul > li {
        word-spacing: normal;
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
    }

    .wrapper.helo-features > ul > li {
        width: 298px;
    }

    .wrapper.enroll.enroll1 {
        padding-bottom: 118px;
    }

    .wrapper.feedback > ul > li.item {
        width: 480px;
        margin-top: 48px;
    }

    .wrapper.feedback > ul > li.item > .avatar {
        margin-top: -28px;
    }

    .wrapper.helo-diff > img.helo-diff-img {
        width: 900px;
    }

    .wrapper.enroll.enroll2 {
        padding-bottom: 118px;
    }

    .wrapper-fluid.stones {
        height: 639px;
        padding-top: 59px;
    }

    .wrapper-fluid.stones > .wrapper > h2 {
        margin: 17px auto 39px;
        width: 700px;
    }

    .wrapper-fluid.stones ul.stones-list > li {
        width: 340px;
        min-height: 100px;
        margin-top: 60px;
    }

    .wrapper-fluid.stones ul.stones-list > li > .stone {
        margin-top: -60px;
    }

    .wrapper.advantages {
        padding-top: 118px;
    }

    .wrapper.advantages > .video iframe {
        width: 900px;
        height: 460px;
    }

    .wrapper.enroll.enroll3 {
        padding-bottom: 114px;
    }

    .wrapper.change-me > img.change-me-img {
        width: 900px;
        margin-top: 35px;
    }

    .wrapper.business-plan {
        margin: 121px auto;
    }

    .wrapper.business-plan > table {
        width: 900px;
        margin: 0 auto 10px;
    }

    .wrapper-fluid.steps .wrapper-fluid.crumbs {
        height: 270px;
        line-height: 330px;
        padding-top: 60px;
    }

    .wrapper-fluid.steps .wrapper-fluid.crumbs ul > li {
        width: 195px;
    }

    .wrapper-fluid.steps .wrapper-fluid.crumbs ul > li:nth-child(n+2):before {
        content: "\f105";
        left: -16px;
        top: 26px;
    }

    .wrapper.enroll {
        padding-bottom: 151px;
        padding-top: 40px;
    }

    footer {
        height: 280px;
        padding-top: 113px;
    }

    footer .social {
        float: right;
        margin-right: 10px;
    }

    footer .button {
        margin-left: 95px;
    }

    footer .social img {
        height: 55px;
    }
}