/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 1024px){
    /* Styles */
    .wrapper, .wrapper-fluid {
        width: 100%;
        min-width: initial;
    }

    .wrapper {
        padding: 0 20px;
        box-sizing: border-box;
    }

    nav {
        display: none;
    }

    .wrapper.header {
        padding: 0;
    }

    header, footer {
        text-align: center;
    }

    header {
        height: 143px;
        padding-top: 60px;
        padding-bottom: 35px;
    }

    header > .contacts {
        margin-top: 40px;
    }

    nav > ul {
        margin-right: 36px;
        word-spacing: 15px;
    }

    .more-block {

    }

    .more-block .description {
        text-align: center;
        padding: 45px 0 50px;
    }

    .more-block .description > ul > li {
        text-align: center;
        font-size: 16px;
        padding-bottom: 6px;
        padding-left: 13px;
        line-height: 24px;
    }

    .more-block .description > ul > li:before {
        content: '—';
        display: inline-block;
        width: 20px;
        margin-left: -20px;
    }

    .more-block .video {
        display: none;
    }

    .features-block {
        padding: 50px 0 40px;
    }

    .features-block ul > li {
        line-height: 100px;
    }

    .wrapper.company-description {
    }

    .wrapper.company-description > .border > p {
        text-align: center;
    }

    .wrapper.company-description > .border > .video {
        display: none;
    }

    .wrapper.facts > ul {
        word-spacing: 20px;
    }

    .wrapper.facts > ul > li {
        padding: 20px;
        margin-top: 20px;
    }

    .wrapper.facts img {
        width: 100%;
    }

    .wrapper-fluid.introduction {
        margin-top: 43px;
        margin-bottom: 100px;
        height: 665px;
    }

    .wrapper-fluid.introduction h2 {
        text-align: center;
    }

    .wrapper-fluid.introduction > .wrapper {
        padding: 103px 0 100px 0;
        position: relative;
        top: -43px;
        height: 809px;
        background-position-y: 90%;
        background-size: 70%;
        background-position-x: center;
    }

    .wrapper-fluid.introduction > .wrapper > .text {
        text-align: center;
    }

    .wrapper.enroll.enroll0 {
        padding-bottom: 115px;
    }

    .wrapper-fluid.introduction > .wrapper > .video {
        display: none;
    }

    .wrapper.parameters {
        margin-bottom: 120px;
    }

    .wrapper.parameters > ul > li {
        padding: 20px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    .wrapper.parameters > ul > li > .text {
        padding: 20px;
    }

    .wrapper-fluid.samples .wrapper iframe {
        width: 100%;
    }

    .wrapper.helo-features > ul > li {
        margin-top: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .wrapper.enroll.enroll1 {
        padding-bottom: 118px;
    }

    .wrapper.feedback > ul > li.item {
        margin-top: 48px;
    }

    .wrapper.feedback > ul > li.item > .avatar {
        margin-top: -28px;
    }

    .wrapper.helo-diff > img.helo-diff-img {
        width: 100%;
    }

    .wrapper.enroll.enroll2 {
        padding-bottom: 118px;
    }

    .wrapper-fluid.stones {
        padding-top: 59px;
    }

    .wrapper-fluid.stones > .wrapper > h2 {
        margin: 17px auto 39px;
    }

    .wrapper-fluid.stones ul.stones-list > li {
        min-height: 100px;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .wrapper-fluid.stones ul.stones-list > li > .stone {
        margin-top: -60px;
    }

    .wrapper.advantages {
        padding-top: 118px;
    }

    .wrapper.advantages > .video iframe {
        width: 100%;
        height: 200px;
    }

    .wrapper.enroll.enroll3 {
        padding-bottom: 114px;
    }

    .wrapper.change-me > img.change-me-img {
        width: 100%;
        margin-top: 35px;
    }

    .wrapper.business-plan {
        margin: 121px auto;
    }

    .wrapper.business-plan > table {
        width: 100%;
        margin: 0 auto 10px;
    }

    .wrapper-fluid.steps .wrapper-fluid.crumbs {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .wrapper-fluid.steps .wrapper-fluid.crumbs ul > li {
        padding-top: 44px;
        padding-bottom: 44px;
    }

    .wrapper-fluid.steps .wrapper-fluid.crumbs ul > li:nth-child(n+2):before {
        content: "\f107";
        top: -10px;
        width: 100%;
        left: 0;
    }

    .wrapper.enroll {
        padding-bottom: 151px;
        padding-top: 40px;
    }

    footer {
        padding: 40px 0;
    }

    .footer .wrapper {
        padding: 0;
    }

    footer .logo {
        margin-bottom: 40px;
    }

    footer .social {
        clear: both;
        width: 100%;
    }

    footer .contacts {
        margin: 40px 0;
    }

    footer .social img {
        height: 55px;
    }
}