@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/RobotoRegular.eot?v=4.7.0');
    src: url('../fonts/RobotoRegular.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../fonts/RobotoRegular.woff?v=4.7.0') format('woff'),
    url('../fonts/RobotoRegular.ttf?v=4.7.0') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/RobotoBold.eot?v=4.7.0');
    src: url('../fonts/RobotoBold.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../fonts/RobotoBold.woff?v=4.7.0') format('woff'),
    url('../fonts/RobotoBold.ttf?v=4.7.0') format('truetype');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/RobotoMedium.eot?v=4.7.0');
    src: url('../fonts/RobotoMedium.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../fonts/RobotoMedium.woff?v=4.7.0') format('woff'),
    url('../fonts/RobotoMedium.ttf?v=4.7.0') format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-family: 'Roboto Bold', sans-serif;
}

.wrapper {
    margin: 0 auto;
}

.wrapper-fluid {
    width: 100%;
}

.contacts {
    height: 55px;
    padding: 0 15px;
    line-height: 55px;
    background-color: #f3f5fc;
    word-spacing: 10px;
    border-radius: 55px 0 0 55px;
}

header > .contacts, footer > .contacts {
    float: right;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
}

header > .contacts > .contact, footer > .contacts > .contact {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

header > .contacts .fa, footer > .contacts .fa {
    font-size: 24px;
    line-height: 55px;
    vertical-align: middle;
    margin-right: 10px;
}

header > .contacts .fa-whatsapp, footer > .contacts .fa-whatsapp {
    color: #43d854;
}

header > .contacts .fa-skype, footer > .contacts .fa-skype {
    color: #00aff0;
}

nav > ul > li {
    list-style-type: none;
    display: inline-block;
    word-spacing: normal;
    font-family: 'Roboto Bold', sans-serif;
    text-transform: uppercase;
}

div.icon {
    display: inline-block;
    text-align: center;
    line-height: 78px;
    width: 78px;
    height: 78px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    border: 2px solid #becaed;
    font-size: 28px;
    color: #4365ca;
}

.button {
    padding: 23px 35px;
    color: #000;
    border-radius: 55px;
    border: 2px solid black;
    display: inline-block;
    font-family: 'Roboto Medium', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}

.button:hover {
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}

.more-block {
    background-image: url('../images/bkg-city.png');
}

.more-block .description > ul > li {
    font-family: 'Roboto Regular', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.more-block .description > ul > li:before {
    content: '—';
    display: inline-block;
    width: 23px;
    margin-left: -23px;
}

.more-block .description > .button {
    border: none;
    margin-top: 25px;
    background-color: #fff;
}

.more-block .description > .button:hover {
    background-color: black;
    color: white;
}

.features-block {
    background-color: #f3f5fc;
}

.features-block ul {
    text-align: center;
    word-spacing: 37px;
}

.features-block ul > li {
    word-spacing: normal;
    display: inline-block;
    font-size: 18px;
    font-family: 'Roboto Medium', sans-serif;
    text-transform: uppercase;
}

.features-block ul > li .fa {
    font-size: 30px;
    line-height: 72px;
}

.features-block ul > li > span {
    display: inline-block;
    font-size: 18px;
    text-align: left;
    line-height: 24px;
    color: #4365ca;
    max-width: 130px;
    vertical-align: middle;
    margin-left: 20px;
}

.wrapper.company-description > .border {
    margin-top: 60px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 20px 26px 20px;
    border: 1px solid #f3f5fc;
}

.wrapper.company-description > .border > p {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

/* here comes the style */

.wrapper.facts {
    text-align: center;
}

.wrapper.facts > ul > li {
    word-spacing: normal;
    display: inline-block;
    border: 1px solid #f3f5fc;
    vertical-align: top;
}

.wrapper.facts > ul > li > a.button {
    border-color: #4365ca;
    color: #4365ca;
    padding: 12px 33px;
}

.wrapper.facts > ul > li > a.button:hover {
    background-color: #4365ca;
    color: white;
}

.wrapper.facts > ul > li > h2 {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #4365ca;
    margin: 14px 20px;
}

.wrapper-fluid.introduction {
    background-color: #4365ca;
}

.wrapper-fluid.introduction > .wrapper {
    background: url('../images/helo-main.png') no-repeat;
}

.wrapper-fluid.introduction > .wrapper > .text > h2 {
    font-family: 'Roboto Meduim', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-style: italic;
    margin-bottom: 26px;
    color: white;
}

.wrapper.parameters {
    text-align: center;
}

.wrapper.parameters > ul {
    word-spacing: 20px;
}

.wrapper.parameters > ul > li {
    word-spacing: normal;
    display: inline-block;
    background-color: #f3f5fc;
    padding: 20px;
    vertical-align: top;
    margin-top: 20px;
}

.wrapper.parameters > ul > li > .text {
    display: inline-block;
}

.wrapper.parameters > ul > li > .text > p {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.wrapper.parameters > ul > li > .text > h2 {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #4365ca;
}

.wrapper.parameters > ul > li > .icon {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: none;
    background-color: #fff;
    line-height: 64px;
    vertical-align: top;
}

.wrapper.parameters > ul > li > .icon > img {
    width: 48px;
    vertical-align: middle;
}

.wrapper-fluid.samples {
    text-align: center;
    background-color: #f3f5fc;
    padding: 60px 0;
}

.wrapper-fluid.samples .wrapper > h2 {
    margin-bottom: 12px;
}

.wrapper-fluid.samples .wrapper > .button {
    color: #dd1b7f;
    border-color: #dd1b7f;
}

.wrapper-fluid.samples .wrapper > ul {
    text-align: center;
    word-spacing: 20px;
    margin-bottom: 40px;
}

.wrapper-fluid.samples .wrapper > ul > li {
    word-spacing: normal;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.wrapper.helo-features {
    text-align: center;
    margin: 114px auto 140px;
}

.wrapper.helo-features > ul {
    text-align: center;
    word-spacing: 20px;
}

.wrapper.helo-features > ul > li {
    word-spacing: normal;
    display: inline-block;
    border: 1px solid #f3f5fc;
    padding: 20px;
    vertical-align: top;
}

.wrapper.helo-features ul > li > h2 {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #4365ca;
    margin: 15px auto;
}

.wrapper.helo-features > ul > li > ul > li {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.wrapper.helo-features > ul > li > ul > li:before {
    content: '—';
    display: inline-block;
    width: 23px;
    margin-left: -23px;
}

.wrapper.feedback {
    text-align: center;
}

.wrapper.feedback > h2 {
    margin-bottom: 12px;
}

.wrapper.feedback > ul {
    text-align: center;
    vertical-align: top;
    word-spacing: 20px;
}

.wrapper.feedback > ul > li.item {
    word-spacing: normal;
    display: inline-block;
    background-color: #f3f5fc;
    vertical-align: top;
}

.wrapper.feedback > ul > li.item > p {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 20px 20px;
}

.wrapper.feedback > ul > li.item > .avatar {
    width: 56px;
    height: 56px;
    overflow: hidden;
    display: inline-block;
    -webkit-border-radius: 56px;
    -moz-border-radius: 56px;
    border-radius: 56px;
}

.wrapper.feedback > ul > li.item > h1 {
    font-family: 'Roboto Bold', sans-serif;
    line-height: 20px;
    font-size: 14px;
    text-transform: none;
    margin-top: 17px;
}

.wrapper.feedback > ul > li.item > h2 {
    font-family: 'Roboto Regular', sans-serif;
    font-style: italic;
    line-height: 20px;
    font-size: 14px;
    text-transform: none;
    color: #666666;
}

.wrapper.helo-diff {
    text-align: center;
}

.wrapper.helo-diff > h2 {
    margin-bottom: 40px;
}

.wrapper-fluid.stones {
    background-image: url('../images/bkg-stones.png');
    text-align: center;
}

.wrapper-fluid.stones > .wrapper > h1 {
    color: white;
}

.wrapper-fluid.stones > .wrapper > h2 {
    color: white;
}

.wrapper-fluid.stones ul.stones-list {
    word-spacing: 20px;
}

.wrapper-fluid.stones ul.stones-list > li {
    display: inline-block;
    background-color: white;
    vertical-align: top;
    word-spacing: normal;
}

.wrapper-fluid.stones ul.stones-list > li > p {
    padding: 20px;
    font-size: 14px;
    font-family: 'Roboto Regular', sans-serif;
    line-height: 24px;
}

.wrapper-fluid.stones ul.stones-list > li > .button {
    color: #4365ca;
    border-color: #4365ca;
    margin-bottom: 25px;
    padding: 12px 33px;
}

.wrapper-fluid.stones ul.stones-list > li > .button:hover {
    background-color: #4365ca;
    color: white;
}

.wrapper-fluid.stones ul.stones-list > li > p > strong {
    text-transform: uppercase;
}

.wrapper.advantages {
    text-align: center;
}

.wrapper.advantages > .video {
    margin-top: 40px;
}

.wrapper.change-me {
    text-align: center;
}

.wrapper.business-plan {
    text-align: center;
}

.wrapper.business-plan > table {
    font-size: 14px;
    font-family: 'Roboto Medium', sans-serif;
}

.wrapper.business-plan > table > tbody > tr {
    height: 25px;
    line-height: 25px;
}

.wrapper.business-plan > table > tbody > tr > td, .wrapper.business-plan > table > tbody > tr > th {
    border: 1px solid white;
}

.wrapper.business-plan > table > tbody > tr:nth-child(2n) {
    background-color: #d0d7e7;
}

.wrapper.business-plan > table > tbody > tr:nth-child(2n + 1) {
    background-color: #e9eef4;
}

.wrapper.business-plan > table > tbody > tr > td:nth-child(3) {
    color: #fc0000;
}

.wrapper.business-plan > table > tbody > tr:first-child {
    background-color: #4f81bc;
    color: #fff;
    height: 34px;
    line-height: 34px;
}

.wrapper.business-plan > p {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.wrapper-fluid.steps {
    text-align: center;
}

.wrapper > h2, .wrapper-fluid > h2 {
    margin-top: 6px;
    margin-bottom: 32px;
}

.wrapper-fluid.steps .wrapper-fluid.crumbs {
    background-color: #4365ca;
    vertical-align: middle;
    color: #fff;
}

.wrapper-fluid.steps .wrapper-fluid.crumbs ul {
    line-height: normal;
    text-align: center;
    word-spacing: 17px;
}

.wrapper-fluid.steps .wrapper-fluid.crumbs ul > li {
    word-spacing: normal;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.wrapper-fluid.steps .wrapper-fluid.crumbs ul > li:nth-child(n+2):before {
    font-family: FontAwesome, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-decoration: inherit;
    position: absolute;
}

.wrapper-fluid.steps .wrapper-fluid.crumbs ul > li > h3 {
    font-family: 'Roboto Medium', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    margin-top: 14px;
}

.wrapper-fluid.steps .wrapper-fluid.crumbs ul > li > .icon {
    color: white;
}

.wrapper.enroll {
    text-align: center;
}

.wrapper.enroll > a.button,
.wrapper-fluid.samples .wrapper > a.button {
    color: #dd1b7f;
    border-color: #dd1b7f;
}

.wrapper.enroll > a.button:hover,
.wrapper-fluid.samples .wrapper > a.button:hover {
    background-color: #dd1b7f;
    color: white;
}

.wrapper-fluid.footer {
    background-color: #f3f5fc;
}

footer > .contacts {
    background-color: #fff;
}

footer .button {
    color: #4365ca;
    border-color: #4365ca;
    vertical-align: top;
    padding: 17px 35px;
}

footer .button:hover {
    background-color: #4365ca;
    color: white;
}

footer .social {
    display: inline-block;
    word-spacing: 5px;
    height: 55px;
}

footer .social img {
    height: 55px;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}

.overlay:target {
    display: block;
}

.popup {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    display: none;
    margin: auto;
    z-index: 20;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    max-height: 60%;
    position: fixed;
    border: 1px solid #383838;
    background: #fefefe;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    transition: opacity 0.6s;
}

.overlay:target+.popup {
    opacity: 1;
    display: block;
}

.popup .container {
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
    box-sizing: border-box;
}

.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    transition: all ease .8s;
}

.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}

.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    transform: rotate(360deg);
}

.popup h2 {
    margin: 0;
    color: #008000;
    padding: 5px 0 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}

.popup p {
    margin: 0;
    padding: 5px 0
}

.popup h3 {
    margin: 0;
    color: #008000;
    padding: 5px 0 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.3em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.2;
}

.popup.form {
    height: 220px;
    width: 320px;
}

.popup.form input {
    margin: 10px 0;
    height: 24px;
    font-size: 18px;
    width: 100%;
}